


.idea
Vagrantfile
exotable1.html                                                                                                                                                                                                                              
exo1.html                                                                                 
exo10.html                                                                                                            
exo12.html                                                                                                             
exo14.html                                                                                                             
exo15.html                                                                                                             
exo2.html                                                                                                              
exo3.html                                                                                                             
exo4.html                                                                                                             
exo5a.html                                                                                                            
exo5c.html                                                                                                             
exo6.html                                                                                                              
exo7.html                                                                                                             
exo8.html                                                                                                             
exo9.html        
exob.html
images/
images1/
script.sh
w3css/
w3js/  
code.html
